<!DOCTYPE html>
<html lang="de">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Johannes Kirchner</title>
    <link rel="stylesheet" href="/css/main.css">
    <script>
    if (screen && screen.width <= 414) {
        document.write('<script src="/assets/js/mainhandy.js" async><\/script>');
    }else
    if (screen && screen.width <= 1024) {
        document.write('<script src="assets/js/maintablet.js" async><\/script>');
    }else {
        document.write('<script src="/assets/js/maindesktop.js" async ><\/script>');
    }
  </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/6a09525c11.js" crossorigin="anonymous"></script>

    {# Boot Screen #}
    <!-- <script src="/assets/js/boot.js"></script> -->


  </head>
  <body onload="boot()">
    {% include 'bootscreen.njk' %}
    {% include 'desktop.njk' %}
    {% include 'tablet.njk' %}
    {% include 'handy.njk' %}
  </body>
</html>
