  <!-- Bootscreen ALLE "OS" -->
  <div class="bootscreen" id="bootscreen">
    <div class="bootlogo">
      <img src="/assets/images/apple.png">
    </div>
    <div class="boot">
      <div class="loadbar"></div>
    </div>
  </div>