              <h1>Kontakt</h1>
              <div class="contact-form">
                <form action="#">
                  <input type="text" id="name" name="name" placeholder="Name" class="feedback-input">
                  <input type="mail" name="mail" id="email" placeholder="Mail" class="feedback-input">
                  <textarea name="subject" id="subject" placeholder="Subject" class="feedback-input"></textarea>
                  <input type="submit" value="Submit" class="submit">
                </form>
              </div>