              <h1>Referenzen</h1>
              <div class="card-container">
                <div class="flip">
                  <div class="front" style="background-image: url(/assets/images/referenzen/compex.png);">
                    <h1 class="text-shadow">Computer Extra</hi>
                  </div>
                  <div class="back">
                    <h2>Computer Extra</h2>
                    <p>Erstellt mit Bootstrap 5</p>
                    <a href="https://computer-extra.de" target="_blank" rel="noopener noreferrer">
                      <button class="btn">
                        Sieh´s dir an
                      </button>
                    </a>
                  </div>
                </div>

                <div class="flip">
                  <div class="front" style="background-image: url(/assets/images/referenzen/shop_compex.png);">
                    <h1 class="text-shadow">Computer Extra Onlineshop</hi>
                  </div>
                  <div class="back">
                    <h2>Computer Extra Onlineshop</h2>
                    <p>Erstellt mit Bootstrap 4 und Modified Ecommerce</p>
                    <a href="https://shop.computer-extra.de" target="_blank" rel="noopener noreferrer">
                      <button class="btn">
                        Sieh´s dir an
                      </button>
                    </a>
                  </div>
                </div>

                <div class="flip">
                  <div class="front" style="background-image: url(/assets/images/referenzen/landing_compex.png);">
                    <h1 class="text-shadow">Computer Extra Landingpage</hi>
                  </div>
                  <div class="back">
                    <h2>Computer Extra Landingpage</h2>
                    <p>HTML, SASS und vanilla JavaScript</p>
                    <a href="https://computer-extra.de/landing" target="_blank" rel="noopener noreferrer">
                      <button class="btn">
                        Sieh´s dir an
                      </button>
                    </a>
                  </div>
                </div>
              </div>