<div class="profil-container">
  <div class="Profil dark-glass">
    <div class="profil-content">
      <img src="/assets/images/ich.jpg" alt="" class="profilpic">
      <h1 class="profil-font">Johannes Kirchner</h1>
      <h2>Ein Web Developer mit Focus auf UI Design.</h2>
      <div class="contact-profil">
        <a href="mailto:info@j4yz0n3.de">info@j4yz0n3.de</a>
      </div>
      <div class="socials-profil">
        <a href="https://www.xing.com/profile/Johannes_Kirchner17" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-xing fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/in/johannes-kirchner-2ab357211/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin-in fa-lg"></i>
        </a>
        <a href="https://t.me/j4yz0n3" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-telegram-plane fa-lg"></i>
        </a>
        <a href="https://twitter.com/j4yz0n31" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="https://www.reddit.com/u/j4yz0n" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-reddit-alien fa-lg"></i>
        </a>
        <a href="https://github.com/jayzone91" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github fa-lg"></i>
        </a>
        <a href="https://codepen.io/jayzone91" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-codepen fa-lg"></i>
        </a>
        <a href="https://join.skype.com/invite/DTrJLHPbhv7k" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-skype fa-lg"></i>
        </a>
        <a href="https://steamcommunity.com/id/j4yz0n3" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-steam-symbol fa-lg"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="Erfahrung glass-design">
    <div class="erfahrung-content">
      <h1 class="profil-font">Erfahrung</h1>
      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-date">
            <h2>2019 - Heute</h2>
          </div>
          <div class="timeline-title">
            <h2>Web Dev</h2>
            <p>Seit 2009 bin ich bei Computer Extra. Seit 2019 betreue ich die Website.</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date">
            <h2>2021</h2>
          </div>
          <div class="timeline-title">
            <h2>Neue Landingpage</h2>
            <p>Die neue Landingpage von Computer Extra wird entworfen. Enstanden ist eine Seite basierend auf HTML 5,
              SASS und vanilla JaavaScript.</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date">
            <h2>2020 - 2021</h2>
          </div>
          <div class="timeline-title">
            <h2>Neuer Onlineshop</h2>
            <p>Der neue Onlineshop von Computer Extra wird entworfen. Enstanden ist eine Seite basierend auf Modified
              Ecommerce mit einem Bootstrap 4 Template</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date">
            <h2>2020</h2>
          </div>
          <div class="timeline-title">
            <h2>Neue Website</h2>
            <p>Die neue Website von Computer Extra wird entworfen. Enstanden ist eine Seite basierend auf Bootstrap 5
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="Skills glass-design">
    {# Hier kommen "Skills" hin...  #}
    <div class="skills-content">
      <h1 class="profil-font">Skills & Tools</h1>
      <div class="skill-container">
        <div class="skill">
          <div class="heading">
            <h2>Programmierung</h2>
          </div>
          <progress max="100" value="70" class="progressbar"></progress>
          <div class="beschreibung">
            <p>
              C++, Java, JavaScript, Nunjucks, HTML, CSS, SASS, PHP, MySQL
            </p>
          </div>
        </div>
        <div class="skill">
          <div class="heading">
            <h2>Design</h2>
          </div>
          <progress max="100" value="30" class="progressbar"></progress>
          <div class="beschreibung">
            <p>
              User Interface, Webdesign
            </p>
          </div>
        </div>
        <div class="skill">
          <div class="heading">
            <h2>Software</h2>
          </div>
          <progress max="100" value="50" class="progressbar"></progress>
          <div class="beschreibung">
            <p>
              Figma, Illustrator, GIMP, Eagle, FlipPDF
            </p>
          </div>
        </div>
        <div class="skill">
          <div class="heading">
            <h2>Anderes</h2>
          </div>
          <progress max="100" value="80" class="progressbar"></progress>
          <div class="beschreibung">
            <p>
              Datenschutz, Logistik, Einkauf, Qualitätssicherung, Garantieabwicklungen, Wareneingang, Warenausgang, KEP
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Edu glass-design">
    <div class="edu-content">
      <h1 class="profil-font">Ausbildung</h1>
      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-date">
            <h2>2018 - 2020</h2>
          </div>
          <div class="timeline-title">
            <h2>Umschulung Fachkraft Lagerlostik</h2>
            <p>Bei Computer Extra</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date">
            <h2>2009 - 2012</h2>
          </div>
          <div class="timeline-title">
            <h2>Fachabitur Schwerpunkt Informatik</h2>
            <p>Max-Eyth-Schule Kassel</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Courses glass-design">
    <div class="kurs-content">
      <h1 class="profil-font">freeCodeCamp</h1>
      <div class="skill-container">
        <div class="skill">
          <div class="heading">
            <h2>Responsive Web Design</h2>
          </div>
          <progress max="28" value="0" class="progressbar"></progress>
        </div>
        <div class="skill">
          <div class="heading">
            <h2>Data Visualization</h2>
          </div>
          <progress max="29" value="0" class="progressbar"></progress>
        </div>
        <div class="skill">
          <div class="heading">
            <h2>JavaScript Algorithms and Data Structures</h2>
          </div>
          <progress max="111" value="0" class="progressbar"></progress>
        </div>
        <div class="skill">
          <div class="heading">
            <h2>Front End Development Libraries</h2>
          </div>
          <progress max="31" value="0" class="progressbar"></progress>
        </div>
        
        <div class="skill">
          <div class="heading">
            <h2>APIs and Microservices</h2>
          </div>
          <progress max="10" value="0" class="progressbar"></progress>
        </div>
        <div class="skill">
          <div class="heading">
            <h2>Quality Assurance</h2>
          </div>
          <progress max="25" value="0" class="progressbar"></progress>
        </div>
        <div class="skill">
          <div class="heading">
            <h2>Data Analysis with Python</h2>
          </div>
          <progress max="28" value="0" class="progressbar"></progress>
        </div>
        <div class="skill">
          <div class="heading">
            <h2>Information Security</h2>
          </div>
          <progress max="14" value="0" class="progressbar"></progress>
        </div>
        <div class="skill">
          <div class="heading">
            <h2>Coding Interview Prep</h2>
          </div>
          <progress max="9" value="0" class="progressbar"></progress>
        </div>
         <div class="skill">
          <div class="heading">
            <h2>Machine Learning with Python</h2>
          </div>
          <progress max="32" value="0" class="progressbar"></progress>
        </div>
         <div class="skill">
          <div class="heading">
            <h2>Scientific Computing with Python</h2>
          </div>
          <progress max="56" value="0" class="progressbar"></progress>
        </div>
      </div>
    </div>
  </div>

  <div class="Sprachen glass-design">
    <div class="sprache-content">
      <h1 class="profil-font">Sprachen</h1>
      <div class="skill-container">
        <div class="skill">
          <div class="heading">
            <h2>Deutsch</h2>
          </div>
          <progress max="100" value="100" class="progressbar"></progress>
          <div class="beschreibung">
            <p>
              Muttersprache
            </p>
          </div>
        </div>
        <div class="skill">
          <div class="heading">
            <h2>Englisch</h2>
          </div>
          <progress max="100" value="40" class="progressbar"></progress>
          <div class="beschreibung">
            <p>
              In der Schule gelernt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>