              <h1>Einstellungen</h1>
              <p>Hier kommen Quasi alle einstellungen hin...</p>
              <p>Wahrscheinlich auch noch was anderes.. da weiß ich aber noch nicht so genau... mir fällt vllt was
                dazu ein?!</p>