<h1>FAQ</h1>
<h2>Was ist das?</h2>
<p>Das hier ist eine Webseite, die an MacOS, iPadOS und iOS angelehnt ist. Alles ist selbstgebaut mit HTML, Nunjucks, SASS und vanilla JavaScript.</p>
<h2>Warum?</h2>
<p>Warum nicht?!</p>

<h2>Noch fragen?</h2>
<p>Dann stell sie doch mit dem Kontaktformular. Vielleicht tauchen sie dann auch hier auf.</p>