             <h1>Musik</h1>
             <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">
               <button class="btn" style="background-color: green;">
                 Ein sehr sehr gutes Video!
               </button>
             </a>