  <div class="desktop" id="desktop">
    <!-- 3 VH -->
    <div class="obere-leiste">
      <div class="spacer"></div>
      <div class="dropdown-apple-menu apple-tooltip fade" data-title="Apfel Menü">
        <img src="/assets/images/apple.png" alt="" class="apple-logo dropbtn" onclick="appleDropdown()">
        <div class="dropdown-content" id="appleMenu">
          <span id="neustart" onClick="window.location.reload();"><i class="fas fa-undo"></i> Neustart</span>
          <span id="ausschalten"><i class="fas fa-power-off"></i> Ausschalten</span>
        </div>
      </div>

      <div class="left-menu">
        <span class="tooltip fade" data-title="Informationen über die Website" id="about"><b>About</b></span>
        <span class="tooltip fade" data-title="Impressum" id="impressum">Impressum</span>
        <span class="tooltip fade" data-title="Datenschutzerklärung" id="datenschutz">Datenschutz</span>
      </div>
      <div class="long-spacer"></div>
      <div class="right-menu">
        <div class="items">
          <img src="/assets/images/wifi_white.png" alt="" class="wlan">
          <div class="spacer-items"></div>
          <img src="/assets/images/magnifyingglass_white.png" alt="" class="search">
        </div>
        <div class="datetime">
          <div class="date">
            <span id="displaydate"></span>
          </div>
          <div class="spacer-date"></div>
          <div class="time">
            <span id="displaytime"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
    </div>

    <!-- 10 VH -->
    <div class="untere-leiste">
      <div class="items">
        <div class="spacer"></div>
        <div class="tooltip-apps fade" data-title="Übersicht aller Funktionen">
          <img src="/assets/images/finder.png" alt="" id="finder" class="item">
        </div>
        <div class="spacer"></div>
        <div class="tooltip-apps fade" data-title="FAQ">
          <img src="/assets/images/question.png" alt="" class="item" id="question">
        </div>
        <div class="spacer"></div>
        <div class="tooltip-apps fade" data-title="Referenzen">
          <img src="/assets/images/safari.png" alt="" class="item" id="safari">
        </div>
        <div class="spacer"></div>
        <div class="tooltip-apps fade" data-title="Profil">
          <img src="/assets/images/message.png" alt="" class="item" id="message">
        </div>
        <div class="spacer"></div>
        <div class="tooltip-apps fade" data-title="Kontakt">
          <img src="/assets/images/mail.png" alt="" class="item" id="mail">
        </div>
        <div class="spacer"></div>
        <div class="tooltip-apps fade" data-title="Karten">
          <img src="/assets/images/map.png" alt="" class="item" id="maps">
        </div>
        <div class="spacer"></div>
        <div class="tooltip-apps fade" data-title="Fotos">
          <img src="/assets/images/fotos.png" alt="" class="item" id="fotos">
        </div>
        <div class="spacer"></div>
        <div class="tooltip-apps fade" data-title="Facetime">
          <img src="/assets/images/facetime.png" alt="" class="item" id="facetime">
        </div>
        <div class="spacer"></div>
        <div class="tooltip-apps fade" data-title="Kalender">
          <img src="/assets/images/calendar.png" alt="" class="item" id="kalender">
        </div>
        <div class="spacer"></div>
        <div class="tooltip-apps fade" data-title="Notizen">
          <img src="/assets/images/note.png" alt="" class="item" id="notes">
        </div>
        <div class="spacer"></div>
        <div class="tooltip-apps fade" data-title="Musik">
          <img src="/assets/images/music.png" alt="" class="item" id="music">
        </div>
        <div class="spacer"></div>
        <div class="tooltip-apps fade" data-title="Einstellungen">
          <img src="/assets/images/settings.png" alt="" class="item" id="settings">
        </div>
        <div class="spacer"></div>
      </div>
    </div>
    <div class="spacer-dock"></div>
  </div>

      <!-- MODALS -->
    {% include 'DESKTOP_topmodals.njk' %}
    {% include 'DESKTOP_modals.njk' %}