      <div class="modal" id="modal-question">
        <div class="modal-content">
          <div class="modal-header">
            <span class="spacer-btn"></span>
            <div class="buttons">
              <span class="close close-question"></span>
              <span class="minimize"></span>
              <span class="maximize"></span>
            </div>
            <div class="title">
              <h2>FAQ</h2>
            </div>
          </div>
          <div class="modal-window">
            <div class="sidebar"></div>
            <div class="content">
            {% include 'CONTENT_faq.njk' %}
            </div>
          </div>
        </div>
      </div>