      <div class="modal-handy" id="modal-fotos-handy">
        <div class="spacer"></div>
            <div class="content">
            {% include 'CONTENT_fotos.njk' %}
            </div>
            <div class="closebtn">
            <span class="close close-fotos-handy">
                <div class="innercircle">
                    <div class="cross">
                        <div class="line1"></div>
                        <div class="line2"></div>
                    </div>
                </div>
            </span>
            </div>
      </div>