// Desktop Mode (768px oder mehr)
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'SF-Pro';
  background-image: url(../assets/images/Monterey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.tablet,
.handy {
  display: none;
}

.desktop {
  display: contents;
}

//   Tablet mode (1024px oder weniger)
@media screen and (max-width: 1024px) {
  body {
    background-image: url(../assets/images/ipados.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .tablet {
      display: contents;
    }

    .desktop,
    .handy {
      display: none;
    }
  }
}

//   Handy Mode (414px oder weniger)
@media screen and (max-width: 414px) {
  body {
    background-image: url(../assets/images/iOS14-Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .handy {
      display: contents;
    }

    .tablet,
    .desktop {
      display: none;
    }
  }
}