@mixin glasstheme {
    background: rgba(230, 238, 247, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 0.74em;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin darkglass {
    background: rgba(82, 94, 113, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 0.74em;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin profilpadding {
    margin: 1em;
}

.profil-font {
    font-family: 'Allan' !important;
    text-transform: uppercase;
    text-align: center;
}

.profil-container {
    height: 96vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr,1fr));
    grid-template-rows: 56% 32% 30% 30%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Profil Erfahrung"
        "Skills Edu"
        "Skills Courses"
        "Sprachen Courses";

    p {
        text-align: center;
    }

    .Profil {
        grid-area: Profil;
        @include darkglass;
        @include profilpadding;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: auto;
        .profil-content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 80%;

            .contact-profil {
                margin-bottom: 0.5em;
                margin-top: 5em;

                a {
                    text-decoration: none;
                    color: black;
                }
            }

            .socials-profil {
                justify-self: flex-end;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        h2 {
            margin-top: 0;
            text-align: center;
        }

        h1 {
            margin-bottom: 0;
        }

        .profilpic {
            margin-top: 5em;
            width: 7em;
            height: auto;
            border-radius: 100%;
        }

    }

    .Erfahrung {
        grid-area: Erfahrung;
        @include glasstheme;
        @include profilpadding;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        overflow: auto;
        .erfahrung-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
        }
    }

    .Skills {
        grid-area: Skills;
        @include glasstheme;
        @include profilpadding;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        overflow: auto;
        .skills-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: flex-start;
            width: 80%;


        }
    }

    .Edu {
        grid-area: Edu;
        @include glasstheme;
        @include profilpadding;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        overflow: auto;
        .edu-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
        }
    }

    .Courses {
        grid-area: Courses;
        @include glasstheme;
        @include profilpadding;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        overflow: auto;

        .kurs-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;

        }
    }

    .Sprachen {
        grid-area: Sprachen;
        @include glasstheme;
        @include profilpadding;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        overflow: auto;
        .sprache-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            width: 80%;
        }
    }

    .timeline {
        display: flex;
        flex-direction: column;

        .timeline-item {
            display: flex;
            flex-direction: row;
            width: 100%;

            .timeline-date {
                width: 30%;

                h2 {
                    text-align: left;
                    font-size: 1rem;
                }
            }

            .timeline-title {
                width: 70%;

                h2 {
                    text-align: left;
                    font-size: 1rem;
                }

                p {
                    text-align: left;
                    font-size: .8rem;
                }
            }
        }
    }

    .skill-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .skill {
            width: 50%;

            .heading {
                text-align: left;

                h2 {
                    margin-bottom: .5em;
                    font-size: 1rem;
                }


            }

            .beschreibung {
                width: 80%;

                p {
                    text-align: left;
                    font-size: .8rem;
                    margin: 0;
                }
            }
        }
    }

    progress[value] {
        appearance: none;
        border: none;
        width: 80%;
        height: 1vh;
        background-color: whitesmoke;
        border-radius: 15px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
        color: royalblue;
        position: relative;
        margin: 0;
    }

    .progressbar::-webkit-progress-value {
        background-image:
            -webkit-linear-gradient(135deg,
                transparent,
                transparent 33%,
                rgba(0, 0, 0, .1) 33%,
                rgba(0, 0, 0, .1) 66%,
                transparent 66%),
            -webkit-linear-gradient(top,
                rgba(255, 255, 255, .25),
                rgba(0, 0, 0, .2)),
            -webkit-linear-gradient(left, #09c, #ff0);
    }
}