              <h1>Impressum</h1>
              <h2>Angaben gemäß § 5 TMG:</h2>
              <p><br>Johannes Kirchner</p>
              <h3>Postanschrift:</h3>
              <p>Rote Breite Str 30a<br>34246 Vellmar<br></p>
              <h3>Kontakt:</h3>
              <p>E-Mail: info@j4yz0n3.de</p>
              <p></p>
              <p><br></p>
              <p></p>
              <h2>Hinweise zur Website</h2>
              <p></p>
              <h3>Urheberrechtliche Hinweise</h3>
              <p>
                <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div><br>
              </p>
              <p></p>
              <h2>Information gemäß § 36 VSBG</h2>
              <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
              <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
              <p></p>
              <p>
                <em>Das Impressum wurde mit dem 
                  <a href="https://www.activemind.de/datenschutz/impressums-generator/">
                    Impressums-Generator der activeMind AG
                  </a>
                  erstellt.
                </em>
              </p>
