<div class="handy" id="handy">
  <div class="oberezeile">
    <div class="links">
      <div class="time">
        <span id="displaytime3"></span>
      </div>
    </div>
    <div class="spacer">
      <div class="notch"></div>
    </div>
    <div class="rechts">
      <div class="items">
        <img src="/assets/images/empfang.png" alt="" class="empfang">
        <img src="/assets/images/wifi.png" alt="" class="wlan">
        <img src="/assets/images/akku.png" alt="" class="akku">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="app">
        <img src="/assets/images/finder.png" alt="" id="finder-handy" class="item">
      </div>
      <div class="app">
        <img src="/assets/images/question.png" alt="" class="item" id="faq-handy">
      </div>
      <div class="app">
        <img src="/assets/images/map.png" alt="" class="item" id="karten-handy">
      </div>
      <div class="app">
        <img src="/assets/images/fotos.png" alt="" class="item" id="fotos-handy">
      </div>
    </div>
    <div class="row">
      <div class="app">
        <img src="/assets/images/calendar.png" alt="" class="item" id="kalender-handy">
      </div>
      <div class="app">
        <img src="/assets/images/note.png" alt="" class="item" id="notizen-handy">
      </div>
      <div class="app">
          <img src="/assets/images/settings.png" alt="" class="item" id="settings-handy">
      </div>
      <div class="app">
          <img src="/assets/images/about.png" alt="" class="item" id="about-handy">
      </div>
    </div>
    <div class="row">
      <div class="app">
        <img src="/assets/images/impressum.png" alt="" class="item" id="impressum-handy">
      </div>
      <div class="app">
        <img src="/assets/images/datenschutz.png" alt="" class="item" id="datenschutz-handy">
      </div>
      <div class="app blank"></div>
      <div class="app blank"></div>
    </div>
    <div class="row">
      <div class="app blank"></div>
      <div class="app blank"></div>
      <div class="app blank"></div>
      <div class="app blank"></div>
    </div>
    <div class="row">
      <div class="app blank"></div>
      <div class="app blank"></div>
      <div class="app blank"></div>
      <div class="app blank"></div>
    </div>
  </div>
  <div class="unterezeile">
    <!-- max 5 items -->
    <div class="appbar">
      <div class="app">
        <img src="/assets/images/safari.png" alt="" class="item" id="referenzen-handy">
      </div>
      <div class="app">
        <img src="/assets/images/message.png" alt="" class="item" id="profil-handy">
      </div>
      <div class="app">
        <img src="/assets/images/mail.png" alt="" class="item" id="mail-handy">
      </div>
      <div class="app">
        <img src="/assets/images/facetime.png" alt="" class="item" id="facetime-handy">
      </div>
      <div class="app">
        <img src="/assets/images/music.png" alt="" class="item" id="musik-handy">
      </div>
    </div>
  </div>
  {% include 'HANDY_modals.njk' %}
</div>


