$text: #e6e9ec !default;
$dark-text: hsl(240, 7%, 63%) !default;
$dark-bg: hsl(240, 7%, 40%) !default;
$background: #ECEDED !default;
$highlight: #DCDBDB !default;
$leisten: hsla(210, 1%, 64%, 0.5) !default;