@font-face {
  font-family: 'SF-Pro';
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}

/* latin-ext */
@font-face {
  font-family: 'Allan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ea8XadU7WuTxEub_NdW18g.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Allan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ea8XadU7WuTxEubxNdU.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SeW4Ep0.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_QOW4Ep0.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_R-W4Ep0.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_S-W4Ep0.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SuW4Ep0.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root ::-webkit-scrollbar {
  width: 10px;
}

:root ::-webkit-scrollbar-track {
  background: #DCDBDB;
  border-radius: 10px;
}

:root ::-webkit-scrollbar-thumb {
  background: rgba(95, 95, 109, 0.473);
  border-radius: 10px;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'SF-Pro';
  background-image: url(../images/Monterey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.tablet,
.handy {
  display: none;
}

.desktop {
  display: contents;
}

@media screen and (max-width: 1024px) {
  body {
    background-image: url(../images/ipados.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  body .tablet {
    display: contents;
  }
  body .desktop,
  body .handy {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  body {
    background-image: url(../images/iOS14-Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  body .handy {
    display: contents;
  }
  body .tablet,
  body .desktop {
    display: none;
  }
}

.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.desktop .spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1%;
}

.desktop .obere-leiste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3vh;
  background-color: rgba(162, 163, 164, 0.5);
}

.desktop .obere-leiste .apple-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: auto;
  height: 2.5vh;
  padding-right: 1em;
}

.desktop .obere-leiste .apple-logo:hover {
  cursor: pointer;
}

.desktop .obere-leiste .left-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e6e9ec;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desktop .obere-leiste .left-menu span {
  font-size: 0.8em;
  border-bottom: 1px solid transparent;
  padding-left: 1em;
}

.desktop .obere-leiste .left-menu span:hover {
  cursor: pointer;
  font-size: 0.9em;
  border-bottom: 1px solid gray;
}

.desktop .obere-leiste .long-spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
}

.desktop .obere-leiste .right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e6e9ec;
}

.desktop .obere-leiste .right-menu .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  height: 3vh;
}

.desktop .obere-leiste .right-menu .items .spacer-items {
  width: 10%;
}

.desktop .obere-leiste .right-menu .items .wlan,
.desktop .obere-leiste .right-menu .items .search {
  width: auto;
  height: 3vh;
}

.desktop .obere-leiste .right-menu .items .wlan {
  height: 1.5vh;
}

.desktop .obere-leiste .right-menu .items .search {
  height: 1.5vh;
}

.desktop .obere-leiste .right-menu .datetime {
  width: 50%;
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop .obere-leiste .right-menu .datetime .spacer-date {
  width: 5%;
}

.desktop .obere-leiste .right-menu .datetime .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
  height: 3vh;
}

.desktop .obere-leiste .right-menu .datetime .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 40%;
  height: 3vh;
}

.desktop .obere-leiste .right-menu .datetime .date span,
.desktop .obere-leiste .right-menu .datetime .time span {
  font-size: 0.8em;
}

.desktop .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 89vh;
}

.desktop .untere-leiste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: max-content;
  width: intrinsic;
  width: -webkit-max-content;
  width: -moz-max-content;
  height: 8.2vh;
  background-color: rgba(162, 163, 164, 0.5);
  border-radius: 1.5em;
}

.desktop .untere-leiste .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.desktop .untere-leiste .items .spacer {
  width: .8em;
}

.desktop .untere-leiste .items img {
  width: auto;
  height: 7vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  border-radius: 25%;
}

.desktop .untere-leiste .items img:hover {
  height: 7.5vh;
  cursor: pointer;
}

.desktop .untere-leiste .items .item {
  background-color: #e6e9ec;
  border-radius: 25%;
}

.desktop .spacer-dock {
  height: .5em;
}

.desktop .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  padding-top: 1em;
  min-height: 50vh;
}

.desktop .contact-form .feedback-input {
  color: #9a9aa7;
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 0.5em;
  line-height: 125%;
  background-color: transparent;
  border: 2px solid #9a9aa7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0.7em;
  margin-bottom: 1em;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

.desktop .contact-form .feedback-input:focus {
  border: 2px solid #5f5f6d;
}

.desktop .contact-form textarea {
  height: 15em;
  font-size: 1.5em;
  line-height: 150%;
  resize: vertical;
}

.desktop .contact-form .submit {
  width: 100%;
  background-color: #9a9aa7;
  color: #e6e9ec;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1.7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -0.4em;
  font-weight: 700;
}

.desktop .contact-form .submit:hover {
  background: #5f5f6d;
}

.desktop .dropbtn {
  cursor: pointer;
}

.desktop .dropdown-apple-menu {
  position: relative;
  display: inline-block;
}

.desktop .dropdown-content {
  display: none;
  position: absolute;
  left: -0.8em;
  top: 3vh;
  background-color: #ECEDED;
  min-width: 190px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.desktop .dropdown-content a, .desktop .dropdown-content #ausschalten, .desktop .dropdown-content #neustart {
  padding: 5px 10px;
  border-bottom: 0.5px solid #9a9aa7;
  color: #9a9aa7;
  text-decoration: none;
  display: block;
}

.desktop .dropdown-content a:hover, .desktop .dropdown-content #ausschalten:hover, .desktop .dropdown-content #neustart:hover {
  background-color: #DCDBDB;
  cursor: pointer;
}

.desktop .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desktop .shutdown {
  background-color: black;
  color: black;
}

.bootscreen {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

.bootscreen .bootlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15vh;
  width: max-content;
  width: intrinsic;
  width: -webkit-max-content;
  width: -moz-max-content;
}

.bootscreen .bootlogo img {
  width: auto;
  height: 15vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.bootscreen .boot {
  margin-top: 1%;
  width: 15%;
  height: 1%;
  background-color: #e6e9ec;
  border-radius: 15px;
}

.bootscreen .boot .loadbar {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #5f5f6d;
  -webkit-animation-name: boot;
          animation-name: boot;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  border-radius: 15px;
}

.handy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.handy .oberezeile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4vh;
  width: 100%;
}

.handy .oberezeile .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 4vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.handy .oberezeile .links .time, .handy .oberezeile .links span {
  height: 4vh;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

.handy .oberezeile .spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.handy .oberezeile .spacer .notch {
  width: 100%;
  height: 4vh;
  background: black;
  border-radius: 0 0 15px 15px;
}

.handy .oberezeile .rechts {
  height: 4vh;
  width: 25%;
}

.handy .oberezeile .rechts .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.handy .oberezeile .rechts .items .wlan, .handy .oberezeile .rechts .items .akku, .handy .oberezeile .rechts .items .empfang {
  margin-right: 0.4em;
  max-height: 3vh;
  width: auto;
}

.handy .container {
  height: 85vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.handy .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 2em;
  width: 100%;
  height: 17vh;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.handy .container .row .app {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 15px;
}

.handy .container .row .app .blank {
  display: none;
  background: transparent;
}

.handy .item {
  width: 3.5em;
  height: 3.5em;
  border-radius: 15px;
  background-color: white;
}

.handy .unterezeile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 11vh;
  background: transparent;
}

.handy .unterezeile .appbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10vh;
  width: 80%;
  background: rgba(162, 163, 164, 0.5);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 15px;
}

.handy .unterezeile .appbar .app {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 15px;
}

.handy .modal-handy {
  display: none;
  position: fixed;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  top: 0;
  left: 0;
  z-index: 1;
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.handy .modal-handy .spacer {
  height: 4vh;
  background-color: transparent;
}

.handy .modal-handy .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  height: 88vh;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  background-color: #ECEDED;
  overflow: auto;
  font-size: 1rem;
  word-wrap: break-word;
}

.handy .modal-handy .closebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 8vh;
  width: 100%;
  background-color: #ECEDED;
}

.handy .modal-handy .closebtn .close {
  margin-bottom: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: flex-end;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 3px rgba(0, 0, 0, 0.301);
          box-shadow: 1px 3px rgba(0, 0, 0, 0.301);
}

.handy .modal-handy .closebtn .close .innercircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
}

.handy .modal-handy .closebtn .close .innercircle .cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}

.handy .modal-handy .closebtn .close .innercircle .cross .line1,
.handy .modal-handy .closebtn .close .innercircle .cross .line2 {
  position: absolute;
  width: 35px;
  height: 3px;
  background: rgba(0, 0, 0, 0.6);
}

.handy .modal-handy .closebtn .close .innercircle .cross .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.handy .modal-handy .closebtn .close .innercircle .cross .line2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.tablet {
  overflow: hidden;
}

.tablet .oberezeile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 3vh;
}

.tablet .oberezeile .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3vh;
  width: 10%;
}

.tablet .oberezeile .links .time {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

.tablet .oberezeile .spacer {
  height: 3vh;
  width: 80%;
}

.tablet .oberezeile .rechts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
}

.tablet .container {
  height: 85vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tablet .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 2em;
  width: 100%;
  height: 17vh;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.tablet .container .row .app {
  display: block;
  width: 7.2em;
  height: 7.2em;
  border-radius: 15px;
}

.tablet .container .row .app .blank {
  display: none;
  background: transparent;
}

.tablet .unterezeile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 12vh;
  background: transparent;
}

.tablet .unterezeile .appbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 11vh;
  width: 80%;
  background: rgba(162, 163, 164, 0.5);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 15px;
}

.tablet .unterezeile .appbar .app {
  display: block;
  width: 7.2em;
  height: 7.2em;
  border-radius: 15px;
}

.tablet .item {
  width: 7.2em;
  height: 7.2em;
  border-radius: 15px;
  background-color: white;
}

.tablet .modal-handy {
  display: none;
  position: fixed;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  top: 0;
  left: 0;
  z-index: 1;
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.tablet .modal-handy .spacer {
  height: 3vh;
  background-color: transparent;
}

.tablet .modal-handy .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 89vh;
  background-color: #ECEDED;
  overflow: auto;
  font-size: 1.5rem;
}

.tablet .modal-handy .closebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 8vh;
  width: 100%;
  background-color: #ECEDED;
}

.tablet .modal-handy .closebtn .close {
  margin-bottom: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: flex-end;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 3px rgba(0, 0, 0, 0.301);
          box-shadow: 1px 3px rgba(0, 0, 0, 0.301);
}

.tablet .modal-handy .closebtn .close .innercircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
}

.tablet .modal-handy .closebtn .close .innercircle .cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
}

.tablet .modal-handy .closebtn .close .innercircle .cross .line1,
.tablet .modal-handy .closebtn .close .innercircle .cross .line2 {
  position: absolute;
  width: 55px;
  height: 3px;
  background: rgba(0, 0, 0, 0.6);
}

.tablet .modal-handy .closebtn .close .innercircle .cross .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tablet .modal-handy .closebtn .close .innercircle .cross .line2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal .modal-window {
  max-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.modal .modal-window .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  min-height: 70vh;
  border-radius: 0 0 0 15px;
  height: 100%;
  background-color: rgba(162, 163, 164, 0.5);
}

.modal .modal-window .content {
  padding-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  height: 100%;
  max-height: 69vh;
  overflow-y: auto;
}

.modal .modal-content {
  background-color: #eceded;
  margin: auto;
  border: 1px solid rgba(135, 135, 135, 0.5);
  border-radius: 15px;
  width: 88%;
  -webkit-box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.5);
}

.modal .modal-content .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
  height: 3vh;
  color: #9a9aa7;
  background-color: #dcdbdb;
  border-bottom: 0.75px solid #a9aaa9;
  border-radius: 15px 15px 0 0;
}

.modal .modal-content .modal-header .spacer-btn {
  width: 1%;
}

.modal .modal-content .modal-header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal .modal-content .modal-header .buttons .close,
.modal .modal-content .modal-header .buttons .minimize,
.modal .modal-content .modal-header .buttons .maximize {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 2px;
}

.modal .modal-content .modal-header .buttons .close:hover, .modal .modal-content .modal-header .buttons .close:focus,
.modal .modal-content .modal-header .buttons .minimize:hover,
.modal .modal-content .modal-header .buttons .minimize:focus,
.modal .modal-content .modal-header .buttons .maximize:hover,
.modal .modal-content .modal-header .buttons .maximize:focus {
  cursor: pointer;
}

.modal .modal-content .modal-header .buttons .close {
  border: 0.25px solid #d54430;
  background-color: #ef6353;
}

.modal .modal-content .modal-header .buttons .close:hover, .modal .modal-content .modal-header .buttons .close:focus {
  background-color: #d54430;
}

.modal .modal-content .modal-header .buttons .minimize {
  border: 0.25px solid #f3b500;
  background-color: #f9bf00;
}

.modal .modal-content .modal-header .buttons .minimize:hover, .modal .modal-content .modal-header .buttons .minimize:focus {
  background-color: #f3b500;
}

.modal .modal-content .modal-header .buttons .maximize {
  border: 0.25px solid #56ab02;
  background-color: #63c71f;
}

.modal .modal-content .modal-header .buttons .maximize:hover, .modal .modal-content .modal-header .buttons .maximize:focus {
  background-color: #56ab02;
}

.modal .modal-content .modal-header .title {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.socials .xing, .socials .linkedin, .socials .skype {
  padding-right: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.name {
  color: #8300A3;
  text-shadow: -2px -2px #adff2f;
}

/* setup tooltips */
.tooltip {
  position: relative;
}

.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0, 0, 0, 0.75);
  border-left: 6px solid transparent;
  content: '';
  height: 0;
  top: 20px;
  left: 20px;
  width: 0;
}

.tooltip:before {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: 26px;
  white-space: nowrap;
}

/* setup tooltips */
.apple-tooltip {
  position: relative;
}

.apple-tooltip:before,
.apple-tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.apple-tooltip:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0, 0, 0, 0.75);
  border-left: 6px solid transparent;
  content: '';
  height: 0;
  top: 34px;
  left: 15px;
  width: 0;
}

.apple-tooltip:before {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: 40px;
  white-space: nowrap;
}

/* setup tooltips */
.tooltip-apps {
  position: relative;
}

.tooltip-apps:before,
.tooltip-apps:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip-apps:before {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: -40px;
  white-space: nowrap;
}

/* the animations */
/* fade */
.fade:after,
.fade:before {
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.fade:hover:after,
.fade:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.btn {
  width: 12em;
  height: 5vh;
  background-color: #ECEDED;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  font-size: 1.2em;
  color: #9a9aa7;
}

.btn:hover {
  background-color: #5f5f6d;
  color: #e6e9ec;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: normal;
  text-align: center;
  font-family: 'Roboto Mono';
}

.card-container h1 {
  padding-top: 1.5em;
  color: black;
  font-size: 2.2em;
}

.flip > .front,
.flip > .back {
  display: block;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.flip > .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flip:hover > .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip:hover > .back {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.flip.flip-vertical > .back {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.flip.flip-vertical:hover > .front {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.flip.flip-vertical:hover > .back {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.flip {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: 3em;
  width: 400px;
}

.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}

.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.profil-font {
  font-family: 'Allan' !important;
  text-transform: uppercase;
  text-align: center;
}

.profil-container {
  height: 96vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 50fr 15fr 10fr 25fr;
      grid-template-rows: 50fr 15fr 10fr 25fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "Profil Erfahrung" "Skills Edu" "Skills Courses" "Sprachen Courses";
}

.profil-container p {
  text-align: center;
}

.profil-container .Profil {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Profil;
  border: 1px solid;
  border-radius: 15px;
}

.profil-container .Erfahrung {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Erfahrung;
  background: linear-gradient(white, white) padding-box, linear-gradient(135deg, #ededed 0%, #efefef 90%, black 100%) border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 1em;
}

.profil-container .Skills {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: Skills;
  background: linear-gradient(white, white) padding-box, linear-gradient(135deg, #ededed 0%, #efefef 90%, black 100%) border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 1em;
}

.profil-container .Edu {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Edu;
  background: linear-gradient(white, white) padding-box, linear-gradient(135deg, #ededed 0%, #efefef 90%, black 100%) border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 1em;
}

.profil-container .Courses {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: Courses;
  background: linear-gradient(white, white) padding-box, linear-gradient(135deg, #ededed 0%, #efefef 90%, black 100%) border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 1em;
}

.profil-container .Sprachen {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Sprachen;
  background: linear-gradient(white, white) padding-box, linear-gradient(135deg, #ededed 0%, #efefef 90%, black 100%) border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 1em;
}

@-webkit-keyframes boot {
  from {
    margin-left: 0%;
    width: -100%;
  }
  to {
    margin-left: 100%;
    width: 0%;
  }
}

@keyframes boot {
  from {
    margin-left: 0%;
    width: -100%;
  }
  to {
    margin-left: 100%;
    width: 0%;
  }
}
/*# sourceMappingURL=main.css.map */