@keyframes boot {
    from {
        margin-left: 0%;
        width: -100%;
    }
    to{
        margin-left: 100%;
        width: 0%;
    }
    // 0% {background-color: green; left: 100%;}
    // 100% {background-color: red; left: 0%;}
}