.handy{
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    .oberezeile{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 4vh;
        width: 100%;
        .links{
            display: flex;
            width: 25%;
            height: 4vh;
            align-items: center;
            justify-content: center;
            .time, span {
                height: 4vh;
                text-align: center;
                font-weight: bold;
                font-size: 1rem;
                color: black;
            }
        }
        .spacer{
            display: flex;
            justify-content: center;
            width: 50%;
            .notch{
                width: 100%;
                height: 4vh;
                background: black;
                border-radius: 0 0 15px 15px;
            }
        }
        .rechts{
            height: 4vh;
            width: 25%;
            .items{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                .wlan, .akku, .empfang{
                    margin-right: 0.4em;
                    max-height: 3vh;
                    width: auto;
                }
            }
        }
    }
    .container{
        height: 85vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        .row {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-around;
            padding-top: 2em;
            width: 100%;
            height: 17vh;
            flex-wrap: nowrap;
            .app {
                display: block;
                width: 3.5em;
                height: 3.5em;
                border-radius: 15px;

                .blank {
                    display: none;
                    background: transparent;
                }
            }
        }
    }
    .item {
        width: 3.5em;
        height: 3.5em;
        border-radius: 15px;
        background-color: white;
    }
    .unterezeile{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 11vh;
        background: transparent;
        .appbar {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 10vh;
            width: 80%;
            background: $leisten;
            flex-wrap: nowrap;
            border-radius: 15px;

            .app {
                display: block;
                width: 3.5em;
                height: 3.5em;
                // margin: 1em;
                border-radius: 15px;

            }
        }
    }
    .modal-handy {
        display: none;
        position: fixed;
        align-self: flex-end;
        justify-self: flex-end;
        top: 0;
        left: 0;
        z-index: 1;
        min-width: 100%;
        max-width: 100%;
        min-height: 100vh;
        overflow: hidden;

        .spacer {
            height: 4vh;
            background-color: transparent;
        }

        .content {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            text-align: center;
            height: 88vh;
            min-width: 100%;
            max-width: 100%;
            width: 100%;
            background-color: $background;
            overflow: auto;
            font-size: 1rem;
            word-wrap: break-word;
        }

        .closebtn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8vh;
            width: 100%;
            background-color: $background;

            .close {
                margin-bottom: 1vh;
                display: flex;
                width: 50px;
                height: 50px;
                align-items: center;
                justify-content: center;
                align-self: center;
                justify-self: flex-end;
                border-radius: 50%;
                background: rgba(0, 0, 0, 0.6);
                box-shadow: 1px 3px rgba(0, 0, 0, 0.301);

                .innercircle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 1);

                    .cross {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;

                        .line1,
                        .line2 {
                            position: absolute;
                            width: 35px;
                            height: 3px;
                            background: rgba(0, 0, 0, 0.6);
                        }

                        .line1 {
                            transform: rotate(45deg);
                        }

                        .line2 {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }

        }
    }
}