.tablet {
    overflow: hidden;

    .oberezeile {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 3vh;

        .links {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            align-items: center;
            height: 3vh;
            width: 10%;

            .time {
                text-align: center;
                font-weight: bold;
                font-size: 1.5rem;
                color: black;
            }
        }

        .spacer {
            height: 3vh;
            width: 80%;
        }

        .rechts {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 10%;
        }

    }

    .container {
        height: 85vh;
        width: 100%;
        // background: red;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;

        .row {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-around;
            padding-top: 2em;
            width: 100%;
            height: 17vh;
            flex-wrap: nowrap;

            .app {
                display: block;
                width: 7.2em;
                height: 7.2em;
                border-radius: 15px;
                // margin: 2em;
                // background: olivedrab;

                .blank {
                    display: none;
                    background: transparent;
                }
            }
        }

    }

    .unterezeile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 12vh;
        background: transparent;

        .appbar {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 11vh;
            width: 80%;
            background: $leisten;
            flex-wrap: nowrap;
            border-radius: 15px;

            .app {
                display: block;
                width: 7.2em;
                height: 7.2em;
                // margin: 1em;
                border-radius: 15px;

            }
        }
    }

    .item {
        width: 7.2em;
        height: 7.2em;
        border-radius: 15px;
        background-color: white;
    }

    .modal-handy {
        display: none;
        position: fixed;
        align-self: flex-end;
        justify-self: flex-end;
        top: 0;
        left: 0;
        z-index: 1;
        min-width: 100%;
        max-width: 100%;
        min-height: 100vh;
        max-height: 100vh;
        overflow: hidden;

        .spacer {
            height: 3vh;
            background-color: transparent;
        }

        .content {
            display: flex;
            flex-direction: column;
            text-align: center;
            height: 89vh;
            background-color: $background;
            overflow: auto;
            font-size: 1.5rem;
        }

        .closebtn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8vh;
            width: 100%;
            background-color: $background;

            .close {
                margin-bottom: 1vh;
                display: flex;
                width: 70px;
                height: 70px;
                align-items: center;
                justify-content: center;
                align-self: center;
                justify-self: flex-end;
                border-radius: 50%;
                background: rgba(0, 0, 0, 0.6);
                // opacity: 0.6;
                box-shadow: 1px 3px rgba(0, 0, 0, 0.301);

                .innercircle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 1);

                    .cross {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;

                        .line1,
                        .line2 {
                            position: absolute;
                            width: 55px;
                            height: 3px;
                            background: rgba(0, 0, 0, 0.6);
                        }

                        .line1 {
                            transform: rotate(45deg);
                        }

                        .line2 {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }

        }
    }
}